body 
    {
        background-image: url(https://wallpapercave.com/wp/0Vywzk8.jpg); 
        background-color: black;
        background-repeat: repeat-y; 
        background-size:contain; 
        background-position-x: center
    }
h1 
    {
        color: rgb(255, 255, 0 ); 
        font-size: 500%; font-family:'Trebuchet MS'; 
        text-align: center
    }
h2 
    {
        color: rgb(100, 100, 170); 
        font-size: 250%; 
        font-family: cursive; 
        text-align:left
    }
p 
    {
        color: white; 
        font-size: 200%; 
        font-family: 'Segoe UI'
    }
main 
    {
        text-align: center; 
        font-size: 100%; 
        font-family: fantasy
    }
footer 
    {
        text-align: right; 
        color: whitesmoke; 
        font-size: 150%
    }
article 
    {
        text-align: center; 
        color:whitesmoke; 
        font-family: 'Lucida Sans'; 
        font-size: 100%
    }    
